.tab-options{
    box-shadow: var(--border-white) 0px -0.5px 0px;
}

.options-wrapper{
    display: flex;
    height: 75px;
    padding-top: 10px;
}

.tab-item{
    margin-right: 24px;
    padding: 12px 12px 20px 12px;
}

img{
    max-width: 60px;
    border-radius: 50%;
}

.tab-image-container{
    height: 20px;
    width: 100%;
    border-radius: 50%;
    background-color: var(--inactive-color);
    font-size: 15px;
}

/* .tab-name{
    font-size: 20px;
} */

.tab-image{
    height: 40px;
    width: 40px;
}

.active-tab{
    border: 1px solid var(--zomato-gray);
    border-bottom: 5px solid var(--zomato-red);
    border-radius: 5%;
    font-size: 20px;
    font-weight: bold;
}