@font-face {
    font-family: SerifaBT;
    src: url("Prompt-Medium.ttf");
}

.options-wrapper{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.tab-item{
    width: 100%;
}

.tab-name{
    font-size: 18px;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: SerifaBT;
    text-align: center;
}

.active-tab{
    border-bottom: 5px solid var(--mc-red);
    border-radius: 5%;
    font-weight: bold;
}