.options-wrapper{
    display: flex;
    height: 75px;
}

.tab-item{
    margin-right: 5px;
    /* padding: 12px 12px 20px 12px; */
    padding-right: 10px;
    width: calc(33.3%);
}

.tab-image-container{
    height: 20px;
    width: 100%;
    padding-right: 5px;
}

.tab-image{
    height: 30px;
    width: 30px;
    max-width: 40px;
    border-radius: 50%;
}

.active-tab{
    border-bottom: 5px solid var(--zomato-red);
    border-radius: 5%;
    font-size: 22px;
    font-weight: bold;
}

.tab-name{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

hr{
    width: 33%;
    border: 3px solid var(--zomato-red);
    border-radius: 10px;
}

.tab-option-bar{
    display: flex;
    /* height: 10px; */
    width: calc(33%);
}

hr.Starters{ 
    margin-left: 0;  
}
hr.MainCourse{ 
    margin-left: calc(33%); 
}
hr.Deserts{ 
    margin-left: calc(66%);
}