.starter-items{
    max-width: 500px;
    margin-left: auto;
}

.react-switch{
    padding-left: 10px;
    padding-right: 10px;
}

.switch-dish-type{
    display: flex;
    align-items: center;
}

.item-name{
    font-size: large;
}

.item-price{
    font-size: large;    
}

.dish-image{
    max-height: 60px;
    max-width: 80px;
    border-radius: 10px;
}

.dish-sec-whole{
    margin-top: 20px;
    margin-bottom: 20px;
}

.dish-sec-name-price{
    display: flex;
    justify-content:space-between;
    padding-left: 15px;
    padding-right: 15px;
}

.dish-sec-border{
    margin-top: 30px;
    margin-bottom: 30px;
    height: 1px;
    background: black;
}

.dish-category{
    display: flex;
    justify-content: space-between;
}

.category-header{
    font-size: larger;
}