.max-width {
    width: 100%;
    max-width: 450px;
    margin: 0px auto;
}    

.absolute-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cur-po{
    cursor: pointer;
}
