@font-face {
    font-family: SerifaBT;
    src: url("../common/tabOptions/SerifaBT-BoldCondensed.otf");
}

.launch-page {
    height: 100vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.15),
            rgba(0, 0, 0, 0.15)), url(https://ik.imagekit.io/vb0g5zv8u/DE10A032-4DF0-4696-96A4-30913E61FE5F_cHGioJfcO.jpeg?ik-sdk-version=javascript-1.4.3&updatedAt=1673613791884);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100vh;
    max-height: 100vh;
    /* background: rgba(0, 0, 0, 0.5); */
}

.intro-text {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: #f1f1f1;
    /* width: 100%; */
    padding-bottom: 20px;
    text-align: center;
}

.navigate-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

/* <!-- HTML !-->
<button class="button-36" role="button">Button 36</button> */

/* CSS */
.button-36 {
    background-image: linear-gradient(92.88deg, #d2f00f 9.16%, #b4ca5a 43.89%, #bde109 64.72%);
    border: 2px solid black;
    border-radius: 15px;
    /* border-style: none; */
    box-sizing: border-box;
    color: #101001;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: bold;
    height: 4rem;
    padding: 0 1.7rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 108px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    margin-left: 25px;
}

.menu-link {
    /* left: 37%; */
    top: 87%;
    max-width: 450px;
}

.review-link {
    /* left: 36%; */
    top: 30%;
    max-width: 450px;
}

.button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    .button-36 {
        padding: 0 2.6rem;
        margin: auto;
    }
}



/* snow-css */

.snow {
    max-width: 450px;
    width: 100%;
    height: 100px;
    /* background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E"); */
    background-position: 0px 0px;
    animation: animatedBackground 10s linear infinite;
}

.snow div {
    max-width: 450px;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 50 50' style='enable-background:new 0 0 50 50%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st1%7Bopacity:0.3%3Bfill:%23FFFFFF%3B%7D.st3%7Bopacity:0.1%3Bfill:%23FFFFFF%3B%7D%3C/style%3E%3Ccircle class='st1' cx='5' cy='8' r='1'/%3E%3Ccircle class='st1' cx='38' cy='3' r='1'/%3E%3Ccircle class='st1' cx='12' cy='4' r='1'/%3E%3Ccircle class='st1' cx='16' cy='16' r='1'/%3E%3Ccircle class='st1' cx='47' cy='46' r='1'/%3E%3Ccircle class='st1' cx='32' cy='10' r='1'/%3E%3Ccircle class='st1' cx='3' cy='46' r='1'/%3E%3Ccircle class='st1' cx='45' cy='13' r='1'/%3E%3Ccircle class='st1' cx='10' cy='28' r='1'/%3E%3Ccircle class='st1' cx='22' cy='35' r='1'/%3E%3Ccircle class='st1' cx='3' cy='21' r='1'/%3E%3Ccircle class='st1' cx='26' cy='20' r='1'/%3E%3Ccircle class='st1' cx='30' cy='45' r='1'/%3E%3Ccircle class='st1' cx='15' cy='45' r='1'/%3E%3Ccircle class='st1' cx='34' cy='36' r='1'/%3E%3Ccircle class='st1' cx='41' cy='32' r='1'/%3E%3C/svg%3E");
    background-position: 0px 0px;
    animation: animatedBackground 15s linear infinite;
}

@keyframes animatedBackground {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0px 300px;
    }
}

#background-video {
    position: relative;
    right: 0;
    bottom: 0;
    /* min-width: 100%;  */
    /* min-height: 100%; */
    max-width: 450px;
}