.starter-items{
    max-width: 500px;
    margin-left: auto;
}

.react-switch{
    padding-left: 10px;
    padding-right: 10px;
}

.switch-dish-type{
    display: flex;
    align-items: center;
}

.item-price{
    font-size: small;
    
}

.dish-image{
    height: 96px;
    width: 118px;
    border-radius: 10px;
    margin-left: 60%;
    bottom: 10px;
    top: 5px;
}