.starter-items{
    max-width: 500px;
    margin-left: auto;
}

.react-switch{
    padding-left: 10px;
    padding-right: 10px;
}

.switch-dish-type{
    display: flex;
    align-items: center;
}

.dishes{
    display: flex;
    font-size: large;
    font-weight: bold;
}

.item-price{
    margin-right: 0px;
    margin-left: auto;
}