.menu-item {
    display: flex;
}

.count-and-add {
    margin-left: 200px;
    margin-left: auto; 
    margin-right: 0;
}

.starter-items{
    max-width: 500px;
    margin-left: 50px;
}

.react-switch{
    margin-left: 10px;
    margin-right: 10px;
}

.switch-dish-type{
    display: flex;
    font-size: large;
    font-weight: bold;
    align-items: center;
}